<!DOCTYPE HTML>
<html class="ng-app:app" id="ng-app" ng-app="app" xmlns:ng="http://angularjs.org">
<head>
	<title>Offwhite</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap-responsive.min.css" type="text/css" media="screen">
	
	<style type="text/css">
		input.initial { width: 3em;}
		small { color: lightgrey;
	    .ng-cloak {display: none !important;}
	</style>
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
      <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
      </script>
    <![endif]-->
    <!--[if lt IE 8]>
        <script src="lib/json3.min.js" type="text/javascript" charset="utf-8"></script>
    <![endif]-->
    
	<script type="text/javascript" src="lib/underscore-min.js"></script>
	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
	
	<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/filters.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/controllers.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
	<a href="https://bitbucket.org/pokle/offwhite" style="position:absolute;z-index:10000;top:0;right:0;">
  		<img src="/images/bitbucket-ribbon-gray.png" />
	</a>

	<div class="container ng-cloak">

		<div ng-controller="SearchController" class="row">

			<form class="form-inline">

				<!-- TABS -->
				<ul class="nav nav-tabs" ng-controller="TabController">
					<li ng-repeat="tab in tabs.tabs" ng-class="activeClass(tab)" id="tab-{{tab}}">
						<a ng-click="activate(tab)" href="#" data-toggle="tab">{{tab}}</a>
					</li>
				</ul>

				<!-- SEARCH FIELDS -->
				<fieldset class="">
					<input type="search" ng-model="searchCriteria.name" autofocus placeholder="Name">
					<input type="search" ng-model="searchCriteria.initial" ng-show="searchCriteria.tabs.active == 'Residential'" placeholder="Initial" class="initial">
					<input type="search" ng-model="searchCriteria.location"  placeholder="Location">
					<input type="submit" ng-click="navigateToSearch()" value="Search" class="btn btn-primary">
				</fieldset>

			</form>

			

			<div class="alert" ng-show="error">Eeep! {{error}}</div>

			<small id="summary">{{summariseSearch()}}</small>

			<small ng-show="debug">Summary: {{searchResults.searchSummary}}</small>

			<!-- SEARCH RESULTS -->
			<div ng-repeat="result in searchResults.data.results">
				<a href="http://whitepages.com.au/{{result.url}}">{{result.name}}</a> - 
				{{result.locationSummary | location}}
				<small ng-show="debug">{{result}}</small>
			</div>

			<pre ng-show="debug">{{searchCriteria}}</pre>
			<pre ng-show="debug">{{searchResults}}</pre>

		</div>
	</div>

</body>
</html>
